.body {
    
    width:100% ;
    height: 100%;
}
.icons{
    display: flex;
}
.link{
    text-decoration: none !important;
    color: #000 !important;
}
@media (min-width:801px) {
    .body{
        display: flex;
        height: 100vh;
        width: 100vw;
    }

    .icons{
        margin: 15% 5% 1% 60%;
        width: 60px;
        height: 60px
    }
    .chat_detail{
        width: 60%;
    }
    
    .chat_list{
        width: 25%;
        height: inherit;

    }
    .icon_group{
        display: flex;
        width: 100%;
    }
    .group{
        margin: 2% 25% 1% 5%; 
    }
    ul{
        height: 100%;
    }
    li{
        list-style: none;

        margin: 5% 2% 15% 2%;
        border-bottom: 2px solid black ;
        
    }
}

@media (max-width:800px) {
    .chat_detail{
        display: none;
    }
    
}