.headerContent{
    width: 100%;
    height: 40vh
}
.bg{
    width: 100%;
    background-color: grey;  
}

.headerTitle{
    padding: 15% 2% 5% 5%;
}

.explore{
    margin:  2% 2% 2% 5%;
}

.contents{
    display: flex;
    width: 100%;
    margin: 3%;
}

.detail{
    width: 100%;
    height: 50%;

}

.new{
    margin: 10% 5% 5% 10%;
}

